@mixin buttons(){
	border-radius: 5px;
  	background-color: #e67e22;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, .5);

  	&:hover {
  		box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset, 0 0 5px rgba(0, 0, 0, .5);
  		
	}

	&:active {
  		box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset, 0 2px 5px rgba(0, 0, 0, .5);
	}
}