@import 'partials/reset';
@import 'partials/grid';
@import 'partials/tables';
@import 'partials/globals';
@import 'partials/toggle';
@import 'partials/lightbox';
@import 'partials/buttons';
@import 'partials/warningMessage';


//***navigation layout
nav{
	@include row;
	margin-bottom: 10%;
	margin-top: 10px;

	.nav-column{
		@include col(1, 4);
		@include center-align;
		width: 24% !important;
		margin-right: 5px !important;
		margin-left: 5px !important;
		padding-top: 5px;
		
	}

	li{
		@include buttons;
		height: 30px;

	}
	a{
		color: #ecf0f1;
		font-weight: 400;
		font-size: 13px;

		&:hover{
			color: #c0392b;
		}
	}
}


//**main view area layout
#main{
	@include row;

	.main-column{
		@include col(1, 3);
	}
}

#view{
		@include buttons;
		background-color: #ecf0f1;
		padding: 30px;
}


//***survey fields layout
.survey-fields{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 40px;
	color: #ecf0f1;
	font-weight: 550;
	text-align: center;	
}

.text-input{
	@include buttons;
	border: 1px solid #d35400;
	background-color: #ff9e47;

	&:focus{
		box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset, 0 2px 5px rgba(0, 0, 0, .5);
	}
}

#form-confirmation{
	@include row;

	p{
		@include col(1, 3);
	}
}


#genderToggle{
	margin-left: 3px;
	margin-bottom: -10px !important;
	color: #ecf0f1;
}

#submit-button{
	@include buttons;
	border: none;
	background-color: #e74c3c;
	margin-top: 20px;

	&:focus, &:active{
		box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset, 0 2px 5px rgba(0, 0, 0, .5);
	}
	&:hover{
		color: #c0392b;
		cursor: pointer;
	}

}

#submitted{
	@include buttons;
	text-align: center;
	color: #ecf0f1;
	background-color: #3498db;
	padding: 20px;

}

//***home layout
#home-buttons{
	@include row;
	color: #ecf0f1;

	p{
		@include col(1, 2);
		@include center-align;
		@include buttons;
		height: 30px;
		width: 47% !important;
		margin-right: 5px !important;
		margin-left: 5px !important;
		padding-top: 5px;

		
		

		a{
			color: #ecf0f1;
			font-weight: 400;
			font-size: 13px;

			&:hover{
			color: #c0392b;
		}
		}
		
	}

}

//***summary layout
.toggle{
	@include center-align;
	margin-bottom: 30px;
}

#summary-show{
	@include center-align;
	
	td{
		cursor: default;
	}
}


//***lightbox layout
#close{
	@include center-align;
}


//***color picker
.favColor{
	@include buttons;
	width: 100%;
	height: 40px;
	font-weight: 550;
	color: #ecf0f1;
	text-align: center;
	border: none;
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.8;
}
.colorWrap{
	display: float;
	@include center-align;
}

.colorPicker{
    padding: 0;
    margin: 0;
    display: inline-block;
}

.colorPicker div{
   	width: 30px;
    height: 30px;
    
}


